*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: sans-serif,monospace;
}
.black{
  background-color: #303030!important;
  color: white!important;
}
.white{
  background-color: #fafafa;
}
.black-two{
  background-color: #424242!important;
  color: white!important;
}
.white-two{
  background-color: white!important;
  box-shadow: 0px 0px 1px #222;
}
.link-white{
color: white!important;
}
.height{
  min-height: 100vh;
}
.link-black{
  color: black!important;
}
.link-product::before{
  content: "";
  position: absolute;
  height: 92%;
  width: 100%;
  background-color: #777;
  opacity: 0;
  z-index: 99;
  transition: .4s;
}
.link-product:hover.link-product::before{
  opacity: .1;
}
.details .btn-details{
  background-color: #f0c000;
  border: none;
  width: 100%;
}
.navbar-toggler{
  border: 1px solid white!important;
}
.details .btn-details:hover{
  background-color: rgb(168, 134, 0);
  border: none;
}
.details .btn-details:hover{
  background-color: rgb(168, 134, 0);
  border: none;
}
.details .box-details{
  height: fit-content;
  padding: 24px 12px;
}
.black-details{
  background: #424242;
}
.white-details{
  background: white;
  box-shadow: 0px 0.5px 1px #222;
}
.MuiSwitch-root{
  margin-top: 7px;
}
.loginPage .btn-pas:focus{
  outline: none;
  border: 1px solid #f0c000;
  
}
.loginPage .btn-em:focus{
  outline: none;
  border: 1px solid #f0c000;
  
}
.loginPage .btn-pas{
  border-radius: 5px;
  color: black;
}
.loginPage .btn-em{
  border-radius: 5px;
}
.loginPage .btn-login{
  background-color: #f0c000;
  border: 0px;

}
.loginPage .btn-login:hover{
  background-color: #c59e06;
}
.link-product::before{
  left: 0;
}
@media (min-width: 776px){
  .details{
    height: 89vh;
  }
}

@media (max-width: 776px){
  .details{
    height: 120vh;
  }
}
.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root{
    background-color: rgb(46, 125, 50)!important;
  }
